* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,html{
  overflow-x:hidden;
}
.header {
  min-height: 100vh;
  width: 100%;
  /* background-blend-mode: soft-light; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30.4)),
    url(/assets/banner.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

/**Nav section**/
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover ::after {
  width: 100%;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

/*Hero Text*/
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  font-size: 14px;
  margin: 10px 0 40px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
nav .fa {
  display: none;
}
/*Media query for Main page*/
@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul li:hover {
    translate: -10% 0;
    transition: 0.5s;
  }
  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    /* display: none; */
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/**Courses section**/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*Campus section*/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  cursor: pointer;
}
.layer:hover {
  background-color: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0%;
  left: 50%;
  translate: -50% 0;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*Facilities section*/
.facilites {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

/*testimonials*/
.testi {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testi-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testi-col img {
  height: 60px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testi-col p {
  padding: 0;
}
.testi-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testi-col .fa {
  color: #f44336;
}

@media (max-width: 700px) {
  .testi-col img {
    margin-left: 0px;
    margin-right: 30px;
  }
}

/*CTA section */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/banner2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  border-radius: 20px;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart{
color: #f44336;
}